header {
    background-color: black;
    width: 100%;
}

nav {
    color: rgb(255, 255, 255);
    float: right;
    padding: 65px 60px 0px 0px;
}

.button {
    color: white;
    font-size: 24px; 
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: bold;
    border: 2px solid white;
    padding: 10px 20px;
    text-decoration: none;
    margin: 25px;
}

#MaungaClubLogo {
    width: 30%;
    height: auto;
}

.container {
    position: relative;
    text-align: center;
    color: white;
    margin: 0;
}
.bottom-left {
    position: absolute;
    font-size: 80px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif; 
    bottom: 200px;
    left: 200px;
}

.Home-p1 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

.chalets {
    padding-top: 50px;

}
.grid-container1 {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-left: 120px;
    margin-right: 120px;
    gap: 200px;
    color: black;
}

.grid-container1 > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    overflow: hidden;
}

.grid-container1 > div > p {
    font-size: 20px;
}
#kereru {
    width: 100%;
    max-height: 100%;
    background-size: cover;
    background-position: center;
} 

#pukeko {
    width: 100%;
    max-height: 100%;
    background-size: cover;
    background-position: center;
}

#kakapo {
    width: 100%;
    max-height: 100%;
    background-size: cover;
    background-position: center;
}
* {
    margin: 0
}